@import '@/assets/shared.scss';

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
}

.grid-container::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-container > *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}

.grid-container > * {
  border: 1px white solid;
}


